
.project_title{
    background-color: #F4F9F9;
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

.project_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: .5rem;
    object-fit: contain;
    margin-bottom: .5rem;
}

.project_card{ 
    display: flex;
    padding: 10px;
}