:root { 
    --primary: white;
}

.btn{
   padding: 5px 15px;
   outline: none; 
   border: none;
   border-radius: 2px;
   cursor: pointer;
}

.btn--primary{
    background-color: var(--primary);
    color: silver;
    border: 1px solid var(--primary)
}
